
html {
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(to right, #eaedf1, #e9ecef);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

ul {
    list-style-type: none;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    list-style-type: none;
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
    text-align: center;
}

.naviki {
    margin-left: 660px;
    margin-right: auto;
    width: 50px;
    height: 50px;
}

.blox { 
    margin-left:auto;
    margin-right:auto;
    width: 320px;
    height: 40px;
    border-radius: 15px;
    background-color:rgb(0, 132, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
.project {
    margin-bottom: 1em;
}
body {
    position: relative;
    padding-bottom: 58px;
    box-sizing: border-box;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.circle-image{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    position: relative;
  }
  .circle-image img{
    width:100%;
    height:100%;
    object-fit: cover;
  }
  @media (max-width: 768px) {
    .skills-list {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        margin: 10px;
        width: 90%;
    }
}
